<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Form</title>
  </head>
  <body>
    <div id="app">
      <!-- Main Page -->
      <div id="welcome" v-if="page == 'welcome'">
        <h1>Welcome to the Form</h1>
        <button v-on:click="page = 'login'">Go to Login</button>
        <button v-on:click="page = 'register'">Register</button>
      </div>

      <!-- Login Page -->
      <div id="login" v-else-if="page == 'login'">
        <h1>Login Form</h1>
        <input v-model="loginEmailInput" placeholder="Email" /><br />
        <input
          v-model="loginPasswordInput"
          placeholder="Password"
          type="password"
        /><br />
        <button v-on:click="postSession(), page = 'home'">Login</button>
      </div>

      <!-- Home Page -->
      <div id="home" v-else-if="page == 'home'">
        <div class="nav">
          <h1>Super Awsome Forms</h1>
          <button class="button" v-on:click="page = 'welcome'">Logout</button>
        </div>
        <button v-on:click="page = 'create-thread'">Create New Thread</button>
        <div v-for="thread in threads">
          <div class="thread" v-on:click="getSingularThread(thread._id)">
            <h3>{{ thread.name }}</h3>
            {{thread.description}}
          </div>
          <br />
        </div>
      </div>

      <!-- Create A New Thread -->
      <div id="new-thread" v-if="page == 'create-thread'">
        <h1>Create New Thread</h1>
        <input v-model="newNameInput" placeholder="Title" /><br />
        <input v-model="newDescriptionInput" placeholder="Description" /><br />
        <input v-model="newCategoryInput" placeholder="Category" /><br />
        <button v-on:click="postThread()">Create Thread</button>
      </div>

      <!-- Individual Thread -->
      <div id="individual-thread" v-if="page == 'thread'">
        <div class="nav">
          <h1>{{ currentThread.name }}</h1>
          <h2>{{currentThread.user.fullname}}</h2>
          <button class="button" v-on:click="page = 'home'">Go Back</button>
        </div>

        <div v-for="post in currentThread.posts">
          <p>
            {{ post.body }} -
            <i>{{ post.user.fullname }}</i>
          </p>
        </div>
      </div>

      <!-- Register Page -->
      <div id="register" v-if="page == 'register'">
        <h1>Register Form</h1>
        <input v-model="newEmailInput" placeholder="Email" /><br />
        <input
          v-model="newPasswordInput"
          placeholder="Password"
          type="password"
        /><br />
        <input v-model="newFullnameInput" placeholder="Full Name" /><br />
        <button v-on:click="postUser(), page = 'registered'">Sign Up</button>
      </div>

      <div id="registered" v-if="page == 'registered'">
        <h1>You have Registered an Account</h1>
        <button v-on:click="page = 'login'">Go to Login Page</button>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
